* {
   margin: 0;
   padding: 0;
}

body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #555454;
    padding: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #991101;
    border-radius: 12px;
    box-shadow: 5px 5px 20px 6px black;
    padding-top: 70px;
    margin-bottom: 20px;
}

.sketch-screen {
    display: flex;
    margin: 0 auto;
    background-color: #bfbfbf;
} 

/*columns*/
.sketch-screen > div {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/*rows*/
.sketch-screen > div > * {
    flex: 1;
    border: 1px solid rgb(153, 152, 152);
}

.round-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0 20px;  
}

#eraser, 
#reset {
    border-radius: 50%;
    box-shadow: 5px 5px 10px #000000;
    color: #838282
}

@media only screen and (min-width: 768px) {
    .sketch-container {
      width: 750px;
      height: 700px;
    }
    .sketch-screen {
        width: 590px;
        height: 550px;
    }

    #eraser, 
    #reset {
    height: 80px;
    width: 80px;
    }
  }

  @media only screen and (max-width: 600px) {
    .sketch-container {
      width: 550px;
      height: 550px;
    }
    .sketch-screen {
        width: 400px;
        height: 400px;
    }
    #eraser, 
    #reset {
    height: 50px;
    width: 50px;
    }
  }

  @media only screen and (max-width: 400px) {
    .sketch-container {
      width: 350px;
      height: 350px;
    }
    .sketch-screen {
        width: 300px;
        height: 300px;
    }
    #eraser, 
    #reset {
    height: 50px;
    width: 50px;
    }
  }

  