* {
   margin: 0;
   padding: 0;
}

body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body * {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #555454;
    padding: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #991101;
    border-radius: 12px;
    box-shadow: 5px 5px 20px 6px black;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.sketch-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #838282;
  font-size: 36px;
  text-shadow:  5px 5px 10px#000000;
  margin-bottom: 10px;
}

.sketch-screen {
    display: flex;
    margin: 0 auto;
    background-color: #bfbfbf;
    width: 100%;
} 

/*columns*/
.sketch-screen > div {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/*rows*/
.sketch-screen > div > * {
    flex: 1;
    border: 1px solid rgb(153, 152, 152);
}

.round-buttons {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;  
}

#eraser, 
#reset {
    border-radius: 50%;
    box-shadow: 5px 5px 10px #000000;
    color: #838282;
    background-color: #bfbfbf;
}

#eraser:hover, 
#reset:hover {
    background-color: white;
}

.option-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.size input,
.size label {
    display:block;
    text-align: center;
    margin-top: 5px;
    color: #838282;
    text-shadow:  5px 5px 10px#000000;
}

.size label {
  font-size: 16px;
  width: 100%;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }

  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #bfbfbf;
  }

  .bubble {
    background: grey;
    color: white;
    padding: 4px 8px;
    position: relative;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #100f0f;
    left: 50%;
    margin-top: 5px;
  }

  #rainbow {
    box-shadow: 3px 3px 10px #100f0f;
    background-color: #bfbfbf;
    font-size: 12px;
    height: 40px;
    width: 80px;
    color: #838282;
  }

  #color {
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     border: #bfbfbf;
     box-shadow: 3px 3px 10px #100f0f;
     background-color: #bfbfbf;
     font-size: 12px;
     height: 40px;
     width: 80px;
     color: #838282;
  }

  #color-label {
    z-index: 3;
  }

  #color-input {
    z-index: 2;
    box-shadow: 3px 3px 10px #100f0f;
    position: absolute;
    opacity: 0;
  }

  #color:hover, 
  #rainbow:hover {
    background-color: white;
  }

@media only screen and (min-width: 768px) {
    .sketch-container {
      width: 750px;
      height: 750px;
    }

    .sketch-screen {
        width: 590px;
        height: 550px;
    }

    #eraser, 
    #reset {
    height: 60px;
    width: 60px;
    }

    .size input {
      height: 15px;
    }
 }

  @media only screen and (max-width: 600px) {
    .sketch-container {
      width: 550px;
      height: 600px;
      padding-bottom: 0px;
    }
    .sketch-screen {
        width: 400px;
        height: 400px;
    }
    #eraser, 
    #reset {
    height: 50px;
    width: 50px;
    }

    #color,
    #rainbow {
      height: 30px;
      width: 40p;
    }

    .option-buttons {
      width: 90%;
      height: 60px;
  }

    .round-buttons{
      width: 90%;
    }
  
    .size input {
      width: 200px;
      height: 15px;
    }

    .size label {
    font-size: 14px;
    }

  }

  @media only screen and (max-width: 400px) {
    .sketch-container {
      width: 350px;
      height: 450px;
    }

    .sketch-screen {
        width: 280px;
        height: 280px;
    }

    .round-buttons{
      width: 90%;
    }
    #eraser, 
    #reset {
    height: 50px;
    width: 50px;
    }

    .option-buttons {
      width: 90%;
      height: 60px;
    }

    .size input {
      width: 130px;
      height: 10px;
    }

    .size label {
    font-size: 10px;
    }

  }

  